**JUNAID FAISAL**

**F2022393016**

# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: _____________________________________                                  ID:

In [79]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]

In [80]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.
b=np.square(a)
b.tolist()

[25, 100, 225, 400]

In [81]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.

mynewlist = []

for t in a:
  if t!=10:
    mynewlist.append(t*t)

print(mynewlist)

[25, 225, 400]

In [ ]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1?

In [82]:
import numpy as np

In [83]:
print(np.random.uniform(low = 0.0, high = 1.0, size = 5)  )

[0.41964638 0.80933124 0.80610624 0.13652205 0.24913474]

In [84]:
#(ii)	Write the command to slice the column 1?

In [85]:
import pandas as pd

In [86]:
mydf = {
    'Courses':["Spark","PySpark","DataBase"],
    'Fee' :[20000,25000,30000],
    'Duration':['30days','40days','50days'],
    'Discount':[1000,2300,2500],
    
              }
mydf = pd.DataFrame(mydf)
mydf

    Courses    Fee Duration  Discount
0     Spark  20000   30days      1000
1   PySpark  25000   40days      2300
2  DataBase  30000   50days      2500

In [87]:
mydf.loc[:, ["Fee","Duration","Discount"]]

     Fee Duration  Discount
0  20000   30days      1000
1  25000   40days      2300
2  30000   50days      2500

In [ ]:
#(iii)	Write the command of first and third elements in column 1?

In [88]:
mydf.iloc[1:3,:1]

    Courses
1   PySpark
2  DataBase

In [ ]:
#(iv)	 Write the command of returns an 8 x 4 array

In [89]:
arr = np.empty((8, 4))
for i in range(8):
   arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [90]:
import pandas as pd

In [ ]:
#Q3. Create a Series that looks like this below:
#Flour     4 cups
#Milk       1 cup
#Eggs     2 large
#Spam       1 can
#Name: Dinner, dtype: object

In [91]:
B = pd.Series(['4 cups','1 cup','2 large','1 can'],index = ['Flour','Milk','Eggs','Spam'])
B

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
dtype: object

In [ ]:
# Q  4 Create the Data frame  as th output[27]

In [92]:
dataframe= pd.DataFrame({
     'Apples' :[35,41],
    'Bananas':[21,34] }, 
    index = ['2017Sales','2018Sales'])
dataframe

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [ ]:
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

In [101]:
dataFrame = pd.DataFrame({
    'Age':[23.0,39.0,45.0,np.NaN],
    'Gender':['M','F','F','M'],
    'Income':[24200.0,np.NaN,45390.0,np.NaN],
    'Religion':['Muslim','chirstian',np.NaN,'Muslim']
    })
dataFrame

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [ ]:
#Q4(i)	Compute the appropriate missing value in income attribute?

In [102]:
dataFrame['Income'].fillna(dataFrame['Income'].mean(), inplace=False)

0    24200.0
1    34795.0
2    45390.0
3    34795.0
Name: Income, dtype: float64

In [ ]:
#(ii)	Compute the appropriate missing values in religion attribute?

In [103]:
dataFrame['Religion'].fillna(dataFrame['Religion'].mode()[0], inplace=False)

0       Muslim
1    chirstian
2       Muslim
3       Muslim
Name: Religion, dtype: object

In [ ]:
#(iii)	Drop the columns where any of the elements is nan

In [104]:
dataFrame.dropna(axis=1)

  Gender
0      M
1      F
2      F
3      M

In [ ]:
#(iv)	Keep only the rows with at least 2 non-na values

In [105]:
dataFrame.dropna(thresh=2, inplace=False)

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim