# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: _____________________________________                                  ID:

In [2]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]

In [ ]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.

In [19]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.

In [7]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1?

In [13]:
import numpy as np

In [15]:
#(ii)	Write the command to slice the column 1?

In [17]:
#(iii)	Write the command of first and third elements in column 1?

In [20]:
#(iv)	 Write the command of returns an 8 x 4 array

In [22]:
import pandas as pd

In [23]:
#Q3. Create a Series that looks like this below:
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [25]:
# Q  4 Create the Data frame  as th output[27]

In [27]:
df

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [28]:
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

In [47]:
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  chirstian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [39]:
#Q4(i)	Compute the appropriate missing value in income attribute?

In [49]:
#(ii)	Compute the appropriate missing values in religion attribute?

In [53]:
#(iii)	Drop the columns where any of the elements is nan

In [55]:
#(iv)	Keep only the rows with at least 2 non-na values